<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<body>

<!-- Navigation -->
<nav th:replace="admin/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="admin/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/layout.html :: side-menu"></div>
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <h1><i class="fas fas-broom"></i> Zákazníci</h1>

            <div class="clearfix"></div>

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Jméno / Název</th>
                    <th>Adresa</th>
                    <th>Firma</th>
                    <th>Akce</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="customer : ${customers}">
                        <td><a th:href="${'/admin/admin/customer/detail' + '?id=' + customer.id}" th:text="${customer.id}"></a></td>
                        <td><a th:href="${'/admin/admin/customer/detail' + '?id=' + customer.id}" th:text="${customer.name}"></a></td>
                        <td th:text="${customer.address.street + ' ' + customer.address.houseNumber + ', ' + customer.address.zipCode + ' ' + customer.address.city}"></td>
                        <td th:text="${customer.isCompany()} ? 'ANO' : 'NE'"></td>
                        <td>
                            <i class="fas fas-edit"></i> <a th:href="${'/admin/admin/customer/edit' + '?id=' + customer.id}" class="btn btn-primary">Upravit</a>
                            <i class="fas fas-trash"></i> <a th:href="${'/admin/admin/janitor/delete' + '?id=' + customer.id}" class="btn btn-danger" th:onclick="'return confirm(\'Přejete si opravdu smazat zákazníka s ID:' + ${customer.id} + '?\');'">Smazat</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>

</body>
</html>