<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Muj web</title>

    <!--JS-->
    <script th:src="@{/scripts/jquery-3.3.1.min.js}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/blog.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" th:fragment="nav">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="${'/admin'}">HledamUklid.cz</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Na web</a>
                </li>

                <li th:if="${#strings.equals(userRole, 'admin')}" class="nav-item">
                    <a class="nav-link" th:text="${'Přihlášen ' + user + ' | Administrátor'}"></a>
                </li>
                <li th:if="${#strings.equals(userRole, 'janitor') || #strings.equals(userRole, 'customer')}"  class="nav-item">
                    <a class="nav-link" th:text="'Přihlášen ' + ${user} + ' | ' + (${#strings.equals(userRole, 'janitor')} ? 'Úklidová služba' : 'Zákazník')"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/login?logout'}">Odhlásit se</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead" th:style="'background-image: url(/img/home-bg.jpg)'" th:fragment="header">
    <div class="overlay"></div>
    <div class="container">
    </div>
</header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" id="side-menu" th:fragment="side-menu">
            <ul th:if="${#strings.equals(userRole, 'admin')}" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/admin/janitor}"><i class="fas fa-broom"></i> Úklidové služby</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/admin/customer}"><i class="fas fa-users"></i> Zákazníci</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/admin/message}"><i class="fas fa-comments"></i> Komunikace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/admin/review}"><i class="fas fa-star"></i> Recenze</a>
                </li>
            </ul>
            <ul th:if="${#strings.equals(userRole, 'janitor')}" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/janitor/janitor}"><i class="fas fa-user"></i> Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/janitor/service}"><i class="fas fa-broom"></i> Služby</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/janitor/message}"><i class="fas fa-comments"></i> Komunikace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/janitor/review}"><i class="fas fa-star"></i> Recenze</a>
                </li>
            </ul>
            <ul th:if="${#strings.equals(userRole, 'customer')}" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/customer/customer}"><i class="fas fa-user"></i> Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/customer/message}"><i class="fas fa-comments"></i> Komunikace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/customer/review}"><i class="fas fa-star"></i> Recenze</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <!--@if (TempData["message-success"] != null)
            {
            <div class="alert alert-success" role="alert">
                @TempData["message-success"]
            </div>
            }-->

            <!--@RenderBody()-->
        </div>
    </div>
</div>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>

</body>
</html>