<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<body>

<!-- Navigation -->
<nav th:replace="admin/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="admin/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/layout.html :: side-menu"></div>
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <a th:href="${'/admin/janitor/janitor'}" th:text="'< Zpět na výpis'" class="btn btn-primary"></a>
            <h2 th:text="'Úklidová služba ' + ${janitor.name} + ' - Editace'"></h2>

            <form th:action="@{/admin/janitor/edit}" th:object="${janitor}" method="post" class="form-horizontal">
                <input th:type="hidden" th:field="*{id}">
                <input th:type="hidden" th:field="*{address.id}">
                <input th:type="hidden" th:field="*{janitorUser.id}">
                <input th:type="hidden" th:field="*{janitorUser.firstname}">
                <input th:type="hidden" th:field="*{janitorUser.surname}">
                <input th:type="hidden" th:field="*{janitorUser.login}">
                <input th:type="hidden" th:field="*{janitorUser.role}">

                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger">Email Error</div>
                <div class="form-group"><label> Email: <input type="email" class="fadeIn second form-control" th:field="*{email}" required /></label></div>

                <hr />
                <p>Základní informace</p>

                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger">Error</div>
                <div class="form-group"><label> Název úklidové služby: <input type="text" class="fadeIn fourth form-control" th:field="*{name}" required /> </label></div>
                <div th:if="${#fields.hasErrors('serviceRange')}" th:errors="*{serviceRange}" class="alert alert-danger">Error</div>
                <div class="form-group"><label> Dosah služeb v km: <input type="number" class="fadeIn fourth form-control" th:field="*{serviceRange}" required /> </label></div>

                <div th:if="${#fields.hasErrors('category.id')}" th:errors="*{category.id}" class="alert alert-danger">Error</div>
                <div class="form-group"><label> Kategorie:
                    <select th:field="*{category.id}" class="form-control">
                        <option th:each="currenctCategory : ${janitorCategories}" th:value="${currenctCategory.id}" th:text="${currenctCategory.name}"></option>
                    </select>
                </label></div>

                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger">Error</div>
                <div class="form-group"><label>Popis:
                    <textarea th:field="*{description}" class="form-control"></textarea>
                </label></div>

                <hr />
                <p>Adresa</p>

                <div th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}" class="alert alert-danger">Error</div>
                <div class="form-group"><label> Město: <input type="text" class="fadeIn fourth form-control" th:field="*{address.city}" required /> </label></div>
                <div th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}" class="alert alert-danger">Error</div>
                <div class="form-group"><label> Ulice: <input type="text" class="fadeIn fourth form-control" th:field="*{address.street}" required /> </label></div>
                <div th:if="${#fields.hasErrors('address.houseNumber')}" th:errors="*{address.houseNumber}" class="alert alert-danger">Error</div>
                <div class="form-group"><label> Číslo domu: <input type="text" class="fadeIn fourth form-control" th:field="*{address.houseNumber}" required /> </label></div>
                <div th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.zipCode}" class="alert alert-danger">Error</div>
                <div class="form-group"><label> PSČ: <input type="text" class="fadeIn fourth form-control" th:field="*{address.zipCode}" required /> </label></div>

                <div><input type="submit" class="btn btn-primary" value="Upravit"/></div>
            </form>

        </div>
    </div>
</div>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>
<script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
<script>tinymce.init({ selector: '.formated-text' });</script>

</body>
</html>