<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<body>

<!-- Navigation -->
<nav th:replace="admin/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="admin/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/layout.html :: side-menu"></div>
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <a th:href="${'/admin/'}" th:text="'< Zpět'" class="btn btn-primary"></a>
            <h1>Profil</h1>

            <h3>Email</h3>
            <p th:text="${janitor.email}"></p>

            <h3>Jméno / Název</h3>
            <p th:text="${janitor.name}"></p>

            <h3>Dosah služeb</h3>
            <p th:text="${janitor.getServiceRange()}"></p>

            <h3>Popis</h3>
            <p th:text="${janitor.description}"></p>

            <h3>Kategorie</h3>
            <p th:text="${janitor.category.name}"></p>

            <h3>Adresa</h3>
            <p th:text="${janitor.address.street} + ' ' + ${janitor.address.houseNumber} + ', ' + ${janitor.address.zipCode} + ' ' + ${janitor.address.city}"></p>
            <i class="fas fas-edit"></i> <a th:href="${'/admin/janitor/edit' + '?id=' + janitor.id}" class="btn btn-primary">Upravit</a>
        </div>
    </div>
</div>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>

</body>
</html>