<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<body>

<!-- Navigation -->
<nav th:replace="admin/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="admin/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/layout.html :: side-menu"></div>
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <h1><i class="fas fas-broom"></i> Recenze</h1>
            <h3 th:text = "'Průměrné hodnocení: '+${avg}"></h3>
            <div class="clearfix"></div>

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Hodnocení</th>
                    <th>Autor</th>
                    <th>Popis</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="review : ${reviews}">
                        <td th:text="${review.value} + ' / 10'"></td>
                        <td th:text="${review.customer.name}"></td>
                        <td th:text="${review.description}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>

</body>
</html>