<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<body>

<!-- Navigation -->
<nav th:replace="admin/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="admin/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/layout.html :: side-menu"></div>
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <a th:href="${'/admin/janitor/service'}" th:text="'< Zpět na výpis'" class="btn btn-primary"></a>
            <a th:href="${'/admin/janitor/service/edit?id=' + service.id}" th:text="'Upravit'" class="btn btn-secondary"></a>
            <a th:href="${'/admin/janitor/service/delete?id=' + service.id}" th:text="'Smazat'" th:onclick="'return confirm(\'Přejete si opravdu smazat službu s ID:' + ${service.id} + '?\');'" class="btn btn-danger"></a>
            <h2>Detail uklízečky</h2>

            <p th:text="'Jméno: ' + ${service.name}"></p>
            <p th:text="'Cena: ' + ${service.price}"></p>
            <p th:text="'Kategorie: ' + ${service.category.name}"></p>

            <div th:text="${service.description}"></div>

        </div>
    </div>
</div>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>

</body>
</html>