<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<body>

<!-- Navigation -->
<nav th:replace="admin/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="admin/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/layout.html :: side-menu"></div>
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <h1><i class="fas fas-broom"></i> Služby</h1>
            <i class="fas fas-edit"></i> <a th:href="${'/admin/janitor/service/create'}" class="btn btn-primary">Vytvořit</a>

            <div class="clearfix"></div>

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Název</th>
                    <th>Cena</th>
                    <th>Kategorie</th>
                    <th>Akce</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="s : ${services}">
                        <td><a th:href="${'/admin/janitor/service/detail' + '?id=' + s.id}" th:text="${s.id}"></a></td>
                        <td><a th:href="${'/admin/janitor/service/detail' + '?id=' + s.id}" th:text="${s.name}"></a></td>
                        <td th:text="${s.price + ' Kč'}"></td>
                        <td th:text="${s.category.name}"></td>
                        <td>
                            <i class="fas fas-edit"></i> <a th:href="${'/admin/janitor/service/edit' + '?id=' + s.id}" class="btn btn-primary">Upravit</a>
                            <i class="fas fas-trash"></i> <a th:href="${'/admin/janitor/service/delete' + '?id=' + s.id}" class="btn btn-danger" th:onclick="'return confirm(\'Přejete si opravdu smazat službu s ID:' + ${s.id} + '?\');'">Smazat</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>

</body>
</html>