<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- Non-blocking JS -->
<!--<script th:src="@{/scripts/bootstrap.min.js}"></script>-->
<body>

<!-- Navigation -->
<nav th:replace="admin/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="admin/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/layout.html :: side-menu"></div>
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <h2>Výpis konverzací</h2>

            <p th:text="'Počet konverzací: ' + ${messages.keySet().size()}"></p>

            <div id="communications">
                <!--@{ int counter = 0; }
                @foreach (string item in Model.Keys)
                {-->
                <div th:each="set, iter : ${messages}">
                    <div class="title">Konverzace <span class="font-weight-bold" th:text="${set.key}"></span> <button class="btn" data-toggle="collapse" th:attr="data-target=${'#com-' + iter.index}"> <i class="fa fa-eye"></i></button></div>
                    <div th:id="${'com-' + iter.index}" th:class="collapse"> <!-- class="collapse  @((TempData["janitorId"] != null && TempData["janitorId"].Equals(Model[item][0].Janitor.Id)) ? "show" : "")"-->
                        <div class="content">
                            <!--@foreach (Message message in Model[@item])
                            {-->
                                <div th:each="message : ${set.value}" th:class="'message ' + ${(message.fromJanitor) ? 'left' : 'right'}">
                                    <p th:text="${message.messageContent}"></p>
                                    <!--<a th:href="${'/admin/admin/message/edit?id=' + message.id}" class="btn btn-primary">Upravit</a>-->
                                    <a th:href="${'/admin/admin/message/delete?id=' + message.id}" class="btn btn-danger" th:onclick="'return confirm(\'Přejete si opravdu smazat zprávu s ID:' + ${message.id} + '?\');'">Smazat</a>
                                    <div class="details" th:text="${message.created.toLocaleString()}"></div>
                                </div>
                            <!--}

                            @{ counter = counter + 1; }-->
                        </div>
                    </div>
                </div>
                <!--}-->
            </div>
        </div>
    </div>
</div>


</body>
</html>