<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<body>

<!-- Navigation -->
<nav th:replace="home/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="home/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <h1 th:text="${janitor.name}"></h1>

            <div class="detail-item">
                <h5>Hodnocení</h5>
                <p th:text="${reviewValue}"></p>
            </div>

            <div class="detail-item">
                <h5>Email</h5>
                <p th:text="${janitor.email}"></p>
            </div>

            <div class="detail-item">
                <h5>Dosah služeb</h5>
                <p th:text="${janitor.getServiceRange()}"></p>
            </div>

            <div class="detail-item">
                <h5>Popis</h5>
                <p th:text="${janitor.description}"></p>
            </div>

            <div class="detail-item">
                <h5>Kategorie</h5>
                <p th:text="${janitor.category.name}"></p>
            </div>

            <div class="detail-item">
                <h5>Adresa</h5>
                <p th:text="'Adresa ' + ${janitor.address.street} + ' ' + ${janitor.address.houseNumber} + ', ' + ${janitor.address.zipCode} + ' ' + ${janitor.address.city}"></p>
            </div>
            <hr />
            <h5>Služby Ceník</h5>

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Název</th>
                    <th>Cena</th>
                    <th>Kategorie</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s : ${services}">
                    <td th:text="${s.id}"></td>
                    <td th:text="${s.name}"></td>
                    <td th:text="${s.price + ' Kč'}"></td>
                    <td th:text="${s.category.name}"></td>
                </tr>
                </tbody>
            </table>
            <a th:if="${authenticated == true}" th:href="@{/admin/customer/message}" class="btn btn-secondary">Kontaktovat</a>
            <a th:if="${authenticated == false}" th:href="@{/register/customer}" class="btn btn-secondary">Kontaktovat</a>
        </div>
    </div>
</div>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>

</body>
</html>