<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="home/layout.html :: head">
    <meta charset="UTF-8">
    <link href="css/styles.css" rel="stylesheet">
    <title>Index</title>
</head>

<body th:style="'background-image: url(/images/clean-work-dark.jpg);'">

<nav th:replace="home/layout.html :: nav"></nav>

<header th:replace="home/layout.html :: header"></header>

<!-- Main Content -->
<div class="container cleaning">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div th:if="${messageSuccess != null}" class="alert alert-success" role="alert">
                ${messageSuccess}
            </div>

            <div id="dynamicContent">
                <div class="site-heading">
                    <div class="floater floater-left">
                        <h2>Chci uklidit</h2>
                        <a th:href="${'/janitors'}" class="btn btn-bordered">Najít úklidovou službu</a>
                    </div>
                    <div class="floater floater-right">
                        <h2>Nabízím úklidové služby</h2>
                        <a th:href="${'/register/janitor'}" class="btn btn-bordered">Zaregistrovat se</a>
                    </div>
                </div>

                <div class="janitor-list" id="janitor-list">
                    <h3>Doporučené úklidové služby</h3>
                    <div class="row">
                        <th:block th:each="janitor,iterStat : ${janitors}">
                            <div class="janitor col-md-4 col-sm-6">
                                <div class="inner">
                                    <h4 th:text="${janitor.name}"></h4>
                                    <p th:text="${janitorRatings[iterStat.index] + ' / 10'}"></p>
                                    <a th:href="${'/janitors/detail?id=' + janitor.id}" class="btn btn-primary">Detail</a>
                                    <a th:if="${authenticated == true}" th:href="@{/admin/customer/message}" class="btn btn-secondary">Kontaktovat</a>
                                    <a th:if="${authenticated == false}" th:href="@{/register/customer}" class="btn btn-secondary">Kontaktovat</a>
                                </div>
                            </div>
                        </th:block>
                    </div>

                    <a th:href="${'/janitors'}" class="btn btn-primary">Další ...</a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<footer th:replace="home/layout.html :: footer"></footer>

</body>
</html>