<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Přihlášení</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">

</head>
<body>
<div class="wrapper fadeInDown">

    <div th:if="${param.error}" class="alert alert-warning">
        Chybné jméno nebo heslo
    </div>
    <div th:if="${param.logout}" class="alert alert-info">
        Odhlášení úspěšné.
    </div>

    <div id="formContent">
        <!-- Tabs Titles -->
        <h2>Přihlásit se</h2>

        <!-- Login Form -->
        <form th:action="@{/login}" method="post">
            <div><label> Uživatelské jméno: <input type="text" name="username"/> </label></div>
            <div><label> Heslo: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Přihlásit se"/></div>
        </form>

        <p><a th:href="@{/}">Zpět na web</a></p>
        <p><a th:href="@{/register/janitor}">Registrovat úklidovou službu</a></p>
        <p><a th:href="@{/register/customer}">Registrovat zákazníka</a></p>
    </div>
</div>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>

</body>
</html>