<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<body>

<!-- Navigation -->
<nav th:replace="admin/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="admin/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/layout.html :: side-menu"></div>
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <a th:href="${'/admin/customer/review/'}" th:text="'< Zpět'" class="btn btn-primary"></a>

            <h2 th:text="'Recenze pro '+ ${review.janitor.name}"></h2>
            <form th:action="@{/admin/customer/review/create}" th:object="${review}" method="post" class="form-horizontal">

                <input th:type="hidden" th:field="*{id}">
                <input th:type="hidden" th:field="*{janitor.id}">
                <input th:type="hidden" th:field="*{customer.id}">

                <hr />
                <p>Základní informace</p>

                <div th:if="${#fields.hasErrors('value')}" th:errors="*{value}" class="alert alert-danger">Error</div>
                <div class="form-group"><label> Hodnocení (1 - nejhorší, 10 - nejlepší):  <input type="text" class="fadeIn fourth form-control" th:field="*{value}" required /> </label></div>

                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger">Error</div>
                <div class="form-group"><label>Popis:
                    <textarea th:field="*{description}" class="form-control"></textarea>
                </label></div>

                <div><input type="submit" class="btn btn-primary" value="Odeslat"/></div>
            </form>

        </div>
    </div>
</div>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>
<script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
<script>tinymce.init({ selector: '.formated-text' });</script>

</body>
</html>