<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<body>

<!-- Navigation -->
<nav th:replace="admin/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="admin/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/layout.html :: side-menu"></div>
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <h1><i class="fas fas-broom"></i> Recenze</h1>

            <div class="clearfix"></div>

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Úklidová služba</th>
                    <th>Hodnocení</th>
                    <th>Popis</th>
                    <th>Akce</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="review : ${reviews}">
                        <td th:text="${review.key.getName()}"></td>
                        <td th:text="${review.value != null} ? ${review.value.getValue()} : 'Zatím nehodnoceno'" />
                        <td th:text="${review.value != null} ? ${review.value.getDescription()} : 'Zatím nehodnoceno'" />
                        <td>
                            <span th:if="${review.value !=  null }"><a th:href="${'/admin/customer/review/edit' + '?id=' + review.value.getId()}" class="btn btn-primary">Upravit</a></span>
                            <span th:if="${review.value == null}"><a th:href="${'/admin/customer/review/create' + '?janitor_id=' + review.key.getId()}" class="btn btn-danger">Vytvořit</a></span>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>

</body>
</html>