<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<body>

<!-- Navigation -->
<nav th:replace="admin/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="admin/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/layout.html :: side-menu"></div>
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <a th:href="${'/admin/admin/review'}" th:text="'< Zpět na výpis'" class="btn btn-primary"></a>
            <a th:href="${'/admin/admin/janitor/edit?id=' + review.id}" th:text="'Upravit'" class="btn btn-secondary"></a>
            <a th:href="${'/admin/admin/janitor/delete?id=' + review.id}" th:text="'Smazat'" th:onclick="'return confirm(\'Přejete si opravdu smazat recenze s ID:' + ${review.id} + '?\');'" class="btn btn-danger"></a>
            <h2>Detail Recenze</h2>

            <p th:text="'Hodnocení: ' + ${review.value}"></p>
            <p th:text="'Uklidová služba: ' + ${review.janitor.name}"></p>
            <p th:text="'Autor (Zákazník): ' + ${review.customer.name}"></p>
            <p th:text="'Popis: ' + ${review.description}"></p>

        </div>
    </div>
</div>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>

</body>
</html>