<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<body>

<!-- Navigation -->
<nav th:replace="admin/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="admin/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/layout.html :: side-menu"></div>
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <h1><i class="fas fas-broom"></i> Recenze</h1>

            <div class="clearfix"></div>

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Hodnocení</th>
                    <th>Uklidová služba</th>
                    <th>Autor</th>
                    <th>Akce</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="review : ${reviews}">
                        <td><a th:href="${'/admin/admin/review/detail' + '?id=' + review.id}" th:text="${review.id}"></a></td>
                        <td th:text="${review.value}"></td>
                        <td th:text="${review.janitor.name}"></td>
                        <td th:text="${review.customer.name}"></td>
                        <td>
                            <i class="fas fas-edit"></i> <a th:href="${'/admin/admin/review/edit' + '?id=' + review.id}" class="btn btn-primary">Upravit</a>
                            <i class="fas fas-trash"></i> <a th:href="${'/admin/admin/review/delete' + '?id=' + review.id}" class="btn btn-danger" th:onclick="'return confirm(\'Přejete si opravdu smazat recenzi s ID:' + ${review.id} + '?\');'">Smazat</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>

</body>
</html>