<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<body>

<!-- Navigation -->
<nav th:replace="admin/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="admin/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/layout.html :: side-menu"></div>
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <a th:href="${'/admin'}" th:text="'< Zpět'" class="btn btn-primary"></a>
            <a th:href="${'/admin/customer/edit?id=' + customer.id}" th:text="'Upravit'" class="btn btn-secondary"></a>
            <h2>Profil</h2>

            <p th:text="'Jméno: ' + ${customer.name}"></p>
            <p th:text="'Adresa ' + ${customer.address.street} + ' ' + ${customer.address.houseNumber} + ', ' + ${customer.address.zipCode} + ' ' + ${customer.address.city}"></p>
            <p th:text="${customer.isCompany()} ? 'Firma: ANO' : 'Firma: NE'"></p>

        </div>
    </div>
</div>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>

</body>
</html>