<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<body>

<!-- Navigation -->
<nav th:replace="admin/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="admin/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/layout.html :: side-menu"></div>
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <a th:href="${'/admin/customer/customer'}" th:text="'< Zpět'" class="btn btn-primary"></a>
            <h2 th:text="'Profil - Editace'"></h2>

            <form th:action="@{/admin/customer/edit}" th:object="${customer}" method="post" class="form-horizontal">
                <input th:type="hidden" th:field="*{id}">
                <input th:type="hidden" th:field="*{address.id}">
                <input th:type="hidden" th:field="*{user.id}">
                <input th:type="hidden" th:field="*{user.firstname}">
                <input th:type="hidden" th:field="*{user.surname}">
                <input th:type="hidden" th:field="*{user.login}">
                <input th:type="hidden" th:field="*{user.role}">

                <hr />
                <p>Základní informace</p>

                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger">Error</div>
                <div class="form-group"><label> Jméno zákazníka: <input type="text" class="fadeIn fourth form-control" th:field="*{name}" required /> </label></div>
                <div th:if="${#fields.hasErrors('company')}" th:errors="*{company}" class="alert alert-danger">Error</div>
                <div class="form-group"><label> Firma: <input type="checkbox" class="form-control" th:field="*{company}" /> </label></div>

                <hr />
                <p>Adresa</p>

                <div th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}" class="alert alert-danger">Error</div>
                <div class="form-group"><label> Město: <input type="text" class="fadeIn fourth form-control" th:field="*{address.city}" required /> </label></div>
                <div th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}" class="alert alert-danger">Error</div>
                <div class="form-group"><label> Ulice: <input type="text" class="fadeIn fourth form-control" th:field="*{address.street}" required /> </label></div>
                <div th:if="${#fields.hasErrors('address.houseNumber')}" th:errors="*{address.houseNumber}" class="alert alert-danger">Error</div>
                <div class="form-group"><label> Číslo domu: <input type="text" class="fadeIn fourth form-control" th:field="*{address.houseNumber}" required /> </label></div>
                <div th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.zipCode}" class="alert alert-danger">Error</div>
                <div class="form-group"><label> PSČ: <input type="text" class="fadeIn fourth form-control" th:field="*{address.zipCode}" required /> </label></div>

                <div><input type="submit" class="btn btn-primary" value="Upravit"/></div>
            </form>

        </div>
    </div>
</div>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>
<script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
<script>tinymce.init({ selector: '.formated-text' });</script>

</body>
</html>