<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- Non-blocking JS -->
<!--<script th:src="@{/scripts/bootstrap.min.js}"></script>-->
<body>

<!-- Navigation -->
<nav th:replace="admin/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="admin/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/layout.html :: side-menu"></div>
        <div class="col-md-10 mx-auto" id="dynamicContent">
            <h2>Nová konverzace</h2>

            <form th:action="@{/admin/customer/message/create}" th:object="${message}" method="post" class="form-horizontal">
                <div th:if="${#fields.hasErrors('janitor')}" th:errors="*{janitor}" class="alert alert-danger">Error</div>
                <div><label> Úklidová služba:
                    <select th:field="*{janitor.id}" class="form-control">
                        <option th:each="currentJanitor : ${janitors}" th:value="${currentJanitor.id}" th:text="${currentJanitor.name}"></option>
                    </select>
                </label></div>

                <div th:if="${#fields.hasErrors('messageContent')}" th:errors="*{messageContent}" class="alert alert-danger">Error</div>
                <div><label> Obsah zprávy: <textarea class="fadeIn fourth form-control" th:field="*{messageContent}" required></textarea> </label></div>
                <div><input type="submit" class="btn btn-primary" value="Odeslat"/></div>
            </form>
        </div>
    </div>
</div>


</body>
</html>