<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="admin/layout.html :: head"></head>

<body>

<!-- Navigation -->
<nav th:replace="home/layout.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="home/layout.html :: header"></header>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">

        <div class="col-md-10 mx-auto" id="dynamicContent">
            <h1><i class="fas fas-broom"></i> Úklidové služby</h1>

            <div class="clearfix"></div>

            <div class="row">
                <div th:each="j,iterStat : ${janitors}" class="janitor col-md-4 col-sm-6">
                    <div class="inner">
                        <h4 th:text="${j.name}"></h4>
                        <p th:text="${janitorRatings[iterStat.index] + ' / 10'}"></p>
                        <a th:href="${'/janitors/detail'+ '?id=' + j.id}" class="btn btn-primary">Detail</a>
                        <a th:if="${authenticated == true}" th:href="@{/admin/customer/message}" class="btn btn-secondary">Kontaktovat</a>
                        <a th:if="${authenticated == false}" th:href="@{/register/customer}" class="btn btn-secondary">Kontaktovat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Non-blocking JS -->
        <script th:src="@{/scripts/bootstrap.min.js}"></script>

</body>
</html>