<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Muj web</title>

    <!--JS-->
    <script th:src="@{/scripts/jquery-3.3.1.min.js}"></script>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/blog.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css">

</head>

<body th:style="'background-image: url(/images/clean-work-dark.jpg);">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" th:fragment="nav">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">HledamUklid.cz</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Domů</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/janitors}">Výpis úklidových služeb</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}">Kontakt</a>
                </li>
                <li th:if="${authenticated == false}" class="nav-item">
                    <a class="nav-link" th:href="@{/admin}">Přihlásit se</a>
                </li>
                <li th:if="${authenticated == true}" class="nav-item">
                    <a class="nav-link" th:href="@{/admin}">Administrace</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead" th:fragment="header">
    <div class="line">
        <p>"Úklid na dvě kliknutí"</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container cleaning">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <!--@if (TempData["message-success"] != null)
        {
        <div class="alert alert-success" role="alert">
            @TempData["message-success"]
            </div>
        }-->

            <div id="dynamicContent">
                <!--@RenderBody()-->
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
        <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
        <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
        </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
        <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
        </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">HledamUklid ©2020</p>
            </div>
        </div>
    </div>
</footer>

<!-- Non-blocking JS -->
<script th:src="@{/scripts/bootstrap.min.js}"></script>

</body>
</html>