<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registrace úklidové služby</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">

    <!--JS-->
    <script th:src="@{/scripts/jquery-3.3.1.min.js}"></script>

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="wrapper fadeInDown">

        <div th:if="${param.error}" class="alert alert-warning">
            Chybné jméno nebo heslo
        </div>
        <div th:if="${param.logout}" class="alert alert-info">
            Odhlášení úspěšné.
        </div>

        <div id="formContent">
            <!-- Tabs Titles -->
            <h2>Registrace úklidové služby</h2>
            <!-- Register Form -->
            <form th:action="@{/register/janitor}" th:object="${janitor}" method="post">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger">Email Error</div>
                <div><label> Email: <input type="email" class="fadeIn second" th:field="*{email}" required /></label></div>
                <div th:if="${#fields.hasErrors('janitorUser.password')}" th:errors="*{janitorUser.password}" class="alert alert-danger">Password Error</div>
                <div><label> Heslo: <input type="password" class="fadeIn third" th:field="*{janitorUser.password}" required /> </label></div>
                <input type="hidden" id="janitorUser.role" name="janitorUser.role" value="2" />
                <input type="hidden" id="janitorUser.login" name="janitorUser.login" value="" />
                <script>
                    $("input[name=email]").change(function () {
                        $("input[name='janitorUser.login']").val($("input[name=email]").val());
                    });
                </script>

                <hr />
                <p>Základní informace</p>

                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger">Error</div>
                <div><label> Název úklidové služby: <input type="text" class="fadeIn fourth" th:field="*{name}" required /> </label></div>
                <div th:if="${#fields.hasErrors('serviceRange')}" th:errors="*{serviceRange}" class="alert alert-danger">Error</div>
                <div><label> Dosah služeb v km: <input type="number" class="fadeIn fourth" th:field="*{serviceRange}" required /> </label></div>

                <div th:if="${#fields.hasErrors('category.id')}" th:errors="*{category.id}" class="alert alert-danger">Error</div>
                <div><label> Kategorie:
                    <select th:field="*{category.id}" class="form-control">
                        <option th:each="currenctCategory : ${janitorCategories}" th:value="${currenctCategory.id}" th:text="${currenctCategory.name}"></option>
                    </select>
                </label></div>

                <hr />
                <p>Adresa</p>

                <div th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}" class="alert alert-danger">Error</div>
                <div><label> Město: <input type="text" class="fadeIn fourth" th:field="*{address.city}" required /> </label></div>
                <div th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}" class="alert alert-danger">Error</div>
                <div><label> Ulice: <input type="text" class="fadeIn fourth" th:field="*{address.street}" required /> </label></div>
                <div th:if="${#fields.hasErrors('address.houseNumber')}" th:errors="*{address.houseNumber}" class="alert alert-danger">Error</div>
                <div><label> Číslo domu: <input type="text" class="fadeIn fourth" th:field="*{address.houseNumber}" required /> </label></div>
                <div th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.zipCode}" class="alert alert-danger">Error</div>
                <div><label> PSČ: <input type="text" class="fadeIn fourth" th:field="*{address.zipCode}" required /> </label></div>

                <div><input type="submit" value="Zaregistrovat se"/></div>
            </form>
        </div>
    </div>

    <!-- Non-blocking JS -->
    <script th:src="@{/scripts/bootstrap.min.js}"></script>

</body>
</html>